In [3]:
###SUPA BASE CREDS###
import numpy as np
import pandas as pd

from supabase import create_client

url = 'https://ochoefiwveizzrgvklip.supabase.co'
service_key = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9jaG9lZml3dmVpenpyZ3ZrbGlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQyOTg1NDQsImV4cCI6MjA3OTg3NDU0NH0.8h8IGqBUA641blZTzSIuOVBw4Hjh8NbH6fIuK7Ab--g'


supabase = create_client(url, service_key)


# Basic connection test: list tables
try:
    res = supabase.rpc("version").execute()
    print("Connected! Postgres responded:", res.data)
except Exception as e:
    print("Connection failed:", e)

Connection failed: {'message': 'Could not find the function public.version without parameters in the schema cache', 'code': 'PGRST202', 'hint': None, 'details': 'Searched for the function public.version without parameters or with a single unnamed json/jsonb parameter, but no matches were found in the schema cache.'}

In [4]:
from supabase import create_client, Client

'''keys from supabase'''

url = "https://ochoefiwveizzrgvklip.supabase.co"
service_key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9jaG9lZml3dmVpenpyZ3ZrbGlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQyOTg1NDQsImV4cCI6MjA3OTg3NDU0NH0.8h8IGqBUA641blZTzSIuOVBw4Hjh8NbH6fIuK7Ab--g"

def init_connection():
    try:
        supabase_url: str = url
        supabase_key: str = service_key
        return create_client(supabase_url, supabase_key)
    except Exception as e:
        st.error(f"Connection error: {e}")
        return None


supabase = init_connection()

'''test connection'''

try:
    res = supabase.table("category").select("*").limit(1).execute()
    print("Connected! Query succeeded.")
    print("Response:", res)
except Exception as e:
    print("Query failed:", e)

Connected! Query succeeded.
Response: data=[{'id': 28, 'category': 'Bisyo', 'segment': 'Recreation', 'group': 'cost'}] count=None

In [7]:
def get_category():
    try:
        response = supabase.table("category").select("*").execute()
        return response.data
    except Exception as e:
        print(f"Error fetching transactions: {e}")
        return []
    
get_category()

[{'id': 28, 'category': 'Bisyo', 'segment': 'Recreation', 'group': 'cost'},
 {'id': 29,
  'category': 'Church',
  'segment': 'Cost of Living',
  'group': 'cost'},
 {'id': 30, 'category': 'Cushion', 'segment': 'Investment', 'group': 'cash'},
 {'id': 31,
  'category': 'Cushion Actual',
  'segment': 'Cushion Actual',
  'group': 'cost'},
 {'id': 32, 'category': 'Eat out', 'segment': 'Recreation', 'group': 'cost'},
 {'id': 33, 'category': 'Education', 'segment': 'Recreation', 'group': 'cost'},
 {'id': 34, 'category': 'Emergency', 'segment': 'Investment', 'group': 'cash'},
 {'id': 35,
  'category': 'Emergency Actual',
  'segment': 'Emergency Actual',
  'group': 'cost'},
 {'id': 36,
  'category': 'Entertainment',
  'segment': 'Recreation',
  'group': 'cost'},
 {'id': 37, 'category': 'ETF', 'segment': 'Investment', 'group': 'cost'},
 {'id': 38,
  'category': 'ETF Actual',
  'segment': 'ETF Actual',
  'group': 'cost'},
 {'id': 39, 'category': 'Food', 'segment': 'Cost of Living', 'group': 'cost'},
 {'id': 40, 'category': 'Gifts', 'segment': 'Gifts', 'group': 'cost'},
 {'id': 41, 'category': 'Home', 'segment': 'Cost of Living', 'group': 'cost'},
 {'id': 42,
  'category': 'Insurance',
  'segment': 'Cost of Living',
  'group': 'cost'},
 {'id': 43, 'category': 'Interest', 'segment': 'Recreation', 'group': 'cash'},
 {'id': 44,
  'category': 'Investment',
  'segment': 'Investment',
  'group': 'cost'},
 {'id': 45, 'category': 'Others', 'segment': 'Recreation', 'group': 'cost'},
 {'id': 46, 'category': 'Pinas', 'segment': 'Gifts', 'group': 'cost'},
 {'id': 47,
  'category': 'Sports / Health',
  'segment': 'Recreation',
  'group': 'cost'},
 {'id': 48, 'category': 'Tax', 'segment': 'Cost of Living', 'group': 'cash'},
 {'id': 49,
  'category': 'Tax Actual',
  'segment': 'Tax Actual',
  'group': 'cost'},
 {'id': 50, 'category': 'Tithes', 'segment': 'Gifts', 'group': 'cost'},
 {'id': 51,
  'category': 'Transportation',
  'segment': 'Cost of Living',
  'group': 'cost'},
 {'id': 52, 'category': 'Travel', 'segment': 'Recreation', 'group': 'cash'},
 {'id': 53,
  'category': 'Travel Actual',
  'segment': 'Travel Actual',
  'group': 'cost'},
 {'id': 54,
  'category': 'Utilities',
  'segment': 'Cost of Living',
  'group': 'cost'}]

In [5]:
def get_transactions():
    try:
        # First: get the total count
        metadata = supabase.table("transactions").select("*", count="exact").limit(1).execute()
        total_rows = metadata.count

        response = supabase.table("transactions").select("*").range(0, 99999999).execute()
        return response.data
    
    except Exception as e:
        print(f"Error fetching transactions: {e}")
        return []

In [9]:
def fetch_all_transactions(page_size=1000):
    all_rows = []
    start = 0

    while True:
        end = start + page_size - 1

        response = (
            supabase.table("transactions")
            .select("*")
            .range(start, end)
            .execute()
        )

        batch = response.data

        # Stop when no more results
        if not batch:
            break

        all_rows.extend(batch)
        start += page_size

    return all_rows

In [6]:

def fetch_all_budget(page_size=1000):
    all_rows = []
    start = 0

    while True:
        end = start + page_size - 1

        response = supabase.table("budget").select("*").range(start, end).execute()

        batch = response.data

        # Stop when no more results
        if not batch:
            break

        all_rows.extend(batch)
        start += page_size

    return all_rows

In [7]:

def fetch_all_income(page_size=1000):
    all_rows = []
    start = 0

    while True:
        end = start + page_size - 1

        response = supabase.table("budget").select("*").range(start, end).execute()

        batch = response.data

        # Stop when no more results
        if not batch:
            break

        all_rows.extend(batch)
        start += page_size

    return all_rows

In [10]:
df = pd.DataFrame(fetch_all_transactions())

len(df)
# df.tail()

2630

In [66]:
    """fetch all data once"""
txn = fetch_all_transactions()
bud = fetch_all_budget()
inc = fetch_all_income()

df_txn = pd.DataFrame(txn)
df_bud = pd.DataFrame(bud)

# merged_df = pd.merge(df_txn, df_bud, on="category", how="inner")

In [113]:
############# Basic Cleanup TXN #######################
df_txn = pd.DataFrame(txn)
df_txn["date"] = pd.to_datetime(df_txn["date"])
df_txn["year_month"] = df_txn["date"].dt.to_period("M")
df_txn["year"] = df_txn["date"].dt.to_period("Y")

df_txn_grouped = df_txn.groupby(
    (["category", "year_month", "year"]), as_index=False
).agg(
    {
        "amount": "sum",
    }
)

############# Basic Cleanup BUD #######################
df_bud = pd.DataFrame(bud)
df_bud["date"] = pd.to_datetime(df_bud["date"])
df_bud["year_month"] = df_bud["date"].dt.to_period("M")
df_bud["year"] = df_bud["date"].dt.to_period("Y")
df_bud = df_bud[df_bud["year_month"].dt.year != 2021]

df_bud_grouped = df_bud.groupby(
    (["category", "year_month", "year"]), as_index=False
).agg(
    {
        "amount": "sum",
    }
)

In [132]:
#### JOIN ACTUAL + BUDGET

merged_df = pd.merge(
    df_txn_grouped,
    df_bud_grouped,
    on=(["category", "year_month", "year"]),
    how="outer",
)


merged_df_actual = merged_df[
    merged_df["category"].str.contains("actual", case=False, na=False)
]
merged_df_actual['amount_x'] = merged_df_actual['amount_x'] * -1


# Column-specific replacement for actuals

merged_df = merged_df.replace({
                          'category': {'ETF': 'ETF budgeted','Tax': 'Tax budgeted',
                                'Cushion': 'Cushion budgeted','Travel': 'Travel budgeted'}})


merged_df['category'] = merged_df['category'].str.replace('Actual', '')



merged_df_budgeted = merged_df[
    merged_df["category"].str.contains("budget", case=False, na=False)
]

C:\Users\king.m\AppData\Local\Temp\ipykernel_46208\1716443917.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df_actual['amount_x'] = merged_df_actual['amount_x'] * -1

In [115]:
merged_df.head

<bound method NDFrame.head of          category year_month  year  amount_x  amount_y
0           Bisyo    2022-03  2022     21.75       NaN
1           Bisyo    2022-04  2022     38.18       NaN
2           Bisyo    2022-06  2022     13.90       NaN
3           Bisyo    2022-07  2022     63.90       NaN
4           Bisyo    2022-08  2022     49.70      50.0
..            ...        ...   ...       ...       ...
969  Tax budgeted    2022-09  2022       NaN      80.0
970  Tax budgeted    2022-10  2022       NaN      80.0
971  Tax budgeted    2022-11  2022       NaN      80.0
972  Tax budgeted    2022-12  2022       NaN     280.0
973        others    2023-01  2023       NaN     317.0

[974 rows x 5 columns]>

In [133]:
merged_df_actual.head

<bound method NDFrame.head of            category year_month  year  amount_x  amount_y
80   Cushion Actual    2023-10  2023  -1735.23       NaN
81   Cushion Actual    2024-01  2024  -1692.90       NaN
82   Cushion Actual    2024-04  2024   -555.00       NaN
83   Cushion Actual    2024-05  2024 -11199.65       NaN
84   Cushion Actual    2024-06  2024   -848.06       NaN
..              ...        ...   ...       ...       ...
797   Travel Actual    2025-09  2025    -74.33       NaN
798   Travel Actual    2025-10  2025   -421.20       NaN
799   Travel Actual    2025-11  2025   -120.00       NaN
800   Travel Actual    2025-12  2025  -1968.98       NaN
875   travel actual    2024-12  2024    -42.56       NaN

[98 rows x 5 columns]>

In [136]:
# Sum of all numeric columns by 'category'

max_year = merged_df['year'].max()
max_year_actual = merged_df_actual['year'].max()

sum_by_cat = merged_df[merged_df['year'] == max_year]
sum_by_cat_budget = merged_df_budgeted[merged_df_budgeted['year'] == max_year]
sum_by_cat_actual = merged_df_actual[merged_df_actual['year'] == max_year]


sum_by_cat_actual = sum_by_cat_actual.groupby('category').agg({'amount_x': 'sum'}).reset_index()
sum_by_cat_actual = sum_by_cat_actual.rename(columns={'amount_x': 'amount'})

sum_by_cat_budget = sum_by_cat_budget.groupby('category').agg({'amount_x': 'sum'}).reset_index()
sum_by_cat_budget = sum_by_cat_budget.rename(columns={'amount_x': 'amount'})



# sum_by_cat_budget = sum_by_cat_budget.groupby('category').agg(
#     amount=('amount_x', 'sum')



print(max_year)
print(sum_by_cat_actual)

print(sum_by_cat_budget)

2025
           category   amount
0    Cushion Actual  -114.86
1        ETF Actual -9800.00
2  Emergency Actual  -558.86
3        Tax Actual -1099.00
4     Travel Actual -7121.01
           category  amount
0  Cushion budgeted  6400.0
1      ETF budgeted  9800.0
2      Tax budgeted  2400.0
3   Travel budgeted  4804.6

In [143]:
### TODO Combine Balance + Latest Budget, Add an entry for budgeted figures on the st.edit form.



# Current structure (budgeted as columns)
df_from_2024 = pd.DataFrame({
    "Tax budgeted": [3074.00],
    "Emergency budgeted": [13153.00],
    "Cushion budgeted": [12387.00],
    "Travel budgeted": [2455.00],
    "ETF budgeted": [0.00],
    "Interest budgeted": [0.00],
    "Investment budgeted": [0.00],
})
# Creates a DataFrame with one column, keys as rows

df_from_2024 = df_from_2024.melt(var_name='category', value_name='amount')

# print(df_from_2024.head())


combined_budgeted = pd.concat([df_from_2024, sum_by_cat_budget,sum_by_cat_actual ], axis=0, ignore_index=True)
combined_budgeted[['category', 'type']] = combined_budgeted['category'].str.split(' ', expand=True)

combined_budgeted = combined_budgeted.groupby('category').agg({'amount': 'sum'}).reset_index()

sum_b = combined_budgeted['amount'].sum()
print(f"Sum of column B: {sum_b}\n")

print(combined_budgeted)

Sum of column B: 35779.869999999995

     category    amount
0     Cushion  18672.14
1         ETF      0.00
2   Emergency  12594.14
3    Interest      0.00
4  Investment      0.00
5         Tax   4375.00
6      Travel    138.59