In [44]:
###SUPA BASE CREDS###
import numpy as np
import pandas as pd

from supabase import create_client
url = 'https://ochoefiwveizzrgvklip.supabase.co'
service_key = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9jaG9lZml3dmVpenpyZ3ZrbGlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQyOTg1NDQsImV4cCI6MjA3OTg3NDU0NH0.8h8IGqBUA641blZTzSIuOVBw4Hjh8NbH6fIuK7Ab--g'


supabase = create_client(url, service_key)


# Basic connection test: list tables
try:
    res = supabase.rpc("version").execute()
    print("Connected! Postgres responded:", res.data)
except Exception as e:
    print("Connection failed:", e)

Connection failed: {'message': 'Could not find the function public.version without parameters in the schema cache', 'code': 'PGRST202', 'hint': None, 'details': 'Searched for the function public.version without parameters or with a single unnamed json/jsonb parameter, but no matches were found in the schema cache.'}

Connected! Query succeeded.
Response: data=[] count=None

In [45]:
from supabase import create_client, Client

'''keys from supabase'''

url = "https://ochoefiwveizzrgvklip.supabase.co"
service_key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9jaG9lZml3dmVpenpyZ3ZrbGlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQyOTg1NDQsImV4cCI6MjA3OTg3NDU0NH0.8h8IGqBUA641blZTzSIuOVBw4Hjh8NbH6fIuK7Ab--g"

def init_connection():
    try:
        supabase_url: str = url
        supabase_key: str = service_key
        return create_client(supabase_url, supabase_key)
    except Exception as e:
        st.error(f"Connection error: {e}")
        return None


supabase = init_connection()

'''test connection'''

try:
    res = supabase.table("category").select("*").limit(1).execute()
    print("Connected! Query succeeded.")
    print("Response:", res)
except Exception as e:
    print("Query failed:", e)

Connected! Query succeeded.
Response: data=[{'id': 28, 'category': 'Bisyo', 'segment': 'Recreation', 'group': 'cost'}] count=None

In [7]:
def get_category():
    try:
        response = supabase.table("category").select("*").execute()
        return response.data
    except Exception as e:
        print(f"Error fetching transactions: {e}")
        return []
    
get_category()

[{'id': 28, 'category': 'Bisyo', 'segment': 'Recreation', 'group': 'cost'},
 {'id': 29,
  'category': 'Church',
  'segment': 'Cost of Living',
  'group': 'cost'},
 {'id': 30, 'category': 'Cushion', 'segment': 'Investment', 'group': 'cash'},
 {'id': 31,
  'category': 'Cushion Actual',
  'segment': 'Cushion Actual',
  'group': 'cost'},
 {'id': 32, 'category': 'Eat out', 'segment': 'Recreation', 'group': 'cost'},
 {'id': 33, 'category': 'Education', 'segment': 'Recreation', 'group': 'cost'},
 {'id': 34, 'category': 'Emergency', 'segment': 'Investment', 'group': 'cash'},
 {'id': 35,
  'category': 'Emergency Actual',
  'segment': 'Emergency Actual',
  'group': 'cost'},
 {'id': 36,
  'category': 'Entertainment',
  'segment': 'Recreation',
  'group': 'cost'},
 {'id': 37, 'category': 'ETF', 'segment': 'Investment', 'group': 'cost'},
 {'id': 38,
  'category': 'ETF Actual',
  'segment': 'ETF Actual',
  'group': 'cost'},
 {'id': 39, 'category': 'Food', 'segment': 'Cost of Living', 'group': 'cost'},
 {'id': 40, 'category': 'Gifts', 'segment': 'Gifts', 'group': 'cost'},
 {'id': 41, 'category': 'Home', 'segment': 'Cost of Living', 'group': 'cost'},
 {'id': 42,
  'category': 'Insurance',
  'segment': 'Cost of Living',
  'group': 'cost'},
 {'id': 43, 'category': 'Interest', 'segment': 'Recreation', 'group': 'cash'},
 {'id': 44,
  'category': 'Investment',
  'segment': 'Investment',
  'group': 'cost'},
 {'id': 45, 'category': 'Others', 'segment': 'Recreation', 'group': 'cost'},
 {'id': 46, 'category': 'Pinas', 'segment': 'Gifts', 'group': 'cost'},
 {'id': 47,
  'category': 'Sports / Health',
  'segment': 'Recreation',
  'group': 'cost'},
 {'id': 48, 'category': 'Tax', 'segment': 'Cost of Living', 'group': 'cash'},
 {'id': 49,
  'category': 'Tax Actual',
  'segment': 'Tax Actual',
  'group': 'cost'},
 {'id': 50, 'category': 'Tithes', 'segment': 'Gifts', 'group': 'cost'},
 {'id': 51,
  'category': 'Transportation',
  'segment': 'Cost of Living',
  'group': 'cost'},
 {'id': 52, 'category': 'Travel', 'segment': 'Recreation', 'group': 'cash'},
 {'id': 53,
  'category': 'Travel Actual',
  'segment': 'Travel Actual',
  'group': 'cost'},
 {'id': 54,
  'category': 'Utilities',
  'segment': 'Cost of Living',
  'group': 'cost'}]

In [36]:
def get_transactions():
    try:
        # First: get the total count
        metadata = supabase.table("transactions").select("*", count="exact").limit(1).execute()
        total_rows = metadata.count

        response = supabase.table("transactions").select("*").range(0, 99999999).execute()
        return response.data
    
    except Exception as e:
        print(f"Error fetching transactions: {e}")
        return []

In [50]:
def fetch_all_transactions(page_size=1000):
    all_rows = []
    start = 0

    while True:
        end = start + page_size - 1

        response = (
            supabase.table("transactions")
            .select("*")
            .range(start, end)
            .execute()
        )

        batch = response.data

        # Stop when no more results
        if not batch:
            break

        all_rows.extend(batch)
        start += page_size

    return all_rows

In [49]:

def fetch_all_budget(page_size=1000):
    all_rows = []
    start = 0

    while True:
        end = start + page_size - 1

        response = supabase.table("budget").select("*").range(start, end).execute()

        batch = response.data

        # Stop when no more results
        if not batch:
            break

        all_rows.extend(batch)
        start += page_size

    return all_rows

In [48]:

def fetch_all_income(page_size=1000):
    all_rows = []
    start = 0

    while True:
        end = start + page_size - 1

        response = supabase.table("budget").select("*").range(start, end).execute()

        batch = response.data

        # Stop when no more results
        if not batch:
            break

        all_rows.extend(batch)
        start += page_size

    return all_rows

In [40]:
df = pd.DataFrame(fetch_all_transactions())

len(df)
# df.tail()

2894

In [51]:
    """fetch all data once"""
txn = fetch_all_transactions()
bud = fetch_all_budget()
inc = fetch_all_income()

df_txn = pd.DataFrame(txn)
df_bud = pd.DataFrame(bud)

merged_df = pd.merge(df_txn, df_bud, on="category", how="inner")

In [52]:
len(merged_df)

146819